body {
    font-family: Arial, sans-serif;
    background-color: #070e16;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.cart, .products {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items {
    margin: 20px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    border-bottom: none;
}

.add-to-cart, #clear-cart {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: center;
}

.poc{
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover, #clear-cart:hover {
    background: #ff0000;
}

.product {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
}

.product button {
    margin-top: 10px;
}
img{
    width: 200px;
    height: auto;
    border-radius: 5px;
}